<footer class="page-footer orange darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Servicio Nacional de Aprendizaje</h5>
          <p class="grey-text text-lighten-4">
            El SENA brinda a la ciudadanía, atención presencial en las 33
            Regionales y 117 Centros de Formación
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Sofia Plus</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Zajuna</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
  